<div class="">
  <table align="center">
    <thead>
      <th>
        Name
      </th>
    </thead>
    <tbody>
      <% @apps.each do |app| %>
      <tr>
        <td><%= link_to app.name, registered_application_path(app) %></td>
        <td><%= app.url %></td>
        <td><%= link_to 'Delete', app, method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
       <% end %>
    </tbody>
  </table>
  <br>
</div>
