
<table>
<thead>
  <tr>
    <th>Name</th>
    <th><%= @registered_application.events.count %></th>
  </tr>
  </thead>

    <tbody>
      <% @registered_application.events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
      <% end %>
        </tr>
    </tbody>
</table>
<%= pie_chart @registered_application.events.group(:name).count %>
